.TodolistMain {
    text-align: center;
}

.TodolistMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    width: 365px;
}

.TodolistMain .header button {
    padding: 6px;
    font-size: 16px;
    width: 100px;
    margin: 0px;
    background-color: #0066ff;
    color: #fff;
    border: 2px solid #0066ff;
}

.TodolistMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}